/* style.css */

* {
    font-family:Arial, Helvetica, sans-serif; 
    background-color: rgba(191, 216, 223, 0.9);
    text-align: center;
}

.heading {
    font: size 900px;
    color: rgb(175, 85, 17);
    text-align: center;
}

.card {
    width: 800px;
    height: 270px;
    background-color: rgba(234, 243, 246, 0.9);
    margin: 16px auto;
    padding: 8px;
}

.title-style {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0;
    margin-bottom: 8px;
    padding: 16px;
}

.content a {
    margin-bottom: 8px;
    padding: 1em;
    font-size: large;
    display: block;
}
